name: Laravel Deploy via SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add host to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy app (tanpa public/)
        run: |
          rsync -avz \
            -e "ssh -p ${{ secrets.SSH_PORT }}" \
            --exclude='public' \
            ./ \
            ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/laravel-pemantauan-kualitas-udara

      - name: Deploy folder public ke subdomain
        run: |
          rsync -avz \
            -e "ssh -p ${{ secrets.SSH_PORT }}" \
            ./public/ \
            ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/public_html/pemantauan-kualitas-udara.mhna.my.id
